
*{
 background-color: #1a1a1a;
 padding: 0;
 margin: 0;
}

 
.banner{
    height: 450px;
    width: 750px;
    background-color: blue;
}

ul{

    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
}

li a{

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 25px;
    
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo{
    height:100px ;
    width:100px ;
}