
*{
 background-color: #1a1a1a;
 padding: 0;
 margin: 0;
}

 
.banner{
    height: 450px;
    width: 850px;
    background-image: url("./assents/banner.png"); /*Ele adiciona uma imagem como fundo*/
    background-repeat: no-repeat;
    background-size: cover;
}

ul{

    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
}

li a{

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 25px;
    
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo{
    height:100px ;
    width:100px ;
}

.bi{
    font-size: 30px;
    color: #4c544c;
}

