
*{
 
 padding: 0;
 margin: 0;
}

body{
    background-color: #1a1a1a;
}
 
.banner{
    height: 450px;
    width: 850px;
    background-image: url("./assents/banner.png"); /*Ele adiciona uma imagem como fundo*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

ul{

    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
}

li a{

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 25px;
    
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo{
    height:100px ;
    width:100px ;
}

.bi{
    font-size: 30px;
    color: #4c544c;
}

.texto-banner{
    color: #ffffff;
    font-size: 25px;
}

.btn{
    height: 40px;
    width: 130px;
    border-radius: 55px; /*Deixa a borda redonda*/
    border: none; /*Serve para remover a borda*/
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
    background-color: #333333;
}
